*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    margin: 25px auto;
    border: 1px solid black;
}

header, .section_1, .section_2{
    margin-bottom: 30px;
}

header{
    /* HEIGHT SARà DA TOGLIERE per adattare img*/
    height: 143px;
    background-color: #e579e6;
}

.section_1{
    /* HEIGHT SARà DA TOGLIERE per adattare img*/
    height: 501px;
    background-color: #e1d77a;
}

.section_2{
    /* HEIGHT SARà DA TOGLIERE per adattare img*/
    height: 668px;
    background-color: #abcfe7;
}

